
.turnBlurb {
	font-size: 1.5em;
	font-weight: 900;
	text-align: center;
	margin: 1em 0;
}

.game {
	display: flex;
	flex-wrap: wrap;
	font-size: 2em;
	font-weight: 900;
	background-color: var(--bg-darker);
	width: 400px;

	overflow: hidden;
	margin: 0 auto;
	border-radius: 0.5em;
	padding: 0.5em;
	box-sizing: border-box;

	.cell {
		flex-basis: calc(33.3333% - 0.5em);
		margin:  0.25em;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 3em;
		height: 3em;
		box-sizing: border-box;
		border-radius: 0.25em;
		cursor: pointer;
		transition: all 0.1s;
	

		&:not(.filled) {
			background-color: var(--bg);
				
			&:hover {
				background-color: var(--bg-light);
				transform: scale(1.1);
			}
		}

		&.filled {
			cursor: not-allowed;
			background-color: var(--bg-dark);
		}
	}
}

.controls {
	margin: 2em auto;
	text-align: center;
}