
.turnBlurb {
	font-size: 1.5em;
	font-weight: 900;
	text-align: center;
	margin: 1em 0;
	user-select: none;
}

.game {
	display: flex;
	flex-wrap: wrap;
	font-size: 2em;
	font-weight: 900;
	background-color: var(--bg-darker);
	width: 400px;

	overflow: hidden;
	margin: 0 auto;
	border-radius: 0.5em;
	padding: 0.5em;
	box-sizing: border-box;
	position: relative;

	user-select: none;

	.cell {
		flex-basis: calc(33.3333% - 0.5em);
		margin:  0.25em;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 3em;
		height: 3em;
		box-sizing: border-box;
		border-radius: 0.25em;
		cursor: pointer;
		transition: all 0.1s;
	

		&:not(.filled) {
			background-color: var(--bg);
				
			&:hover {
				background-color: var(--bg-light);
				transform: scale(1.1);
			}
		}

		&.filled {
			cursor: not-allowed;
			background-color: var(--bg-dark);
		}
	}

	&.gameOver:after {
		content: '';
		display: block;
		height: 8px;
		width: 0px;
		background-color: var(--brand);
		position: absolute;
		border-radius: 0.5em;
		top: 0;
		left: 10px;
		animation: showLine 0.5s ease forwards;
		transition: none;
	}

	
	
	/* horizontalal top */ &.gameOver.w0:after { top: 2.1em; }
	/* horizontalal middle */ &.gameOver.w1:after { top: 5.6em; }
	/* horizontalal bottom */ &.gameOver.w2:after { top: 9.2em; }
	/* vertical left */ &.gameOver.w3:after { top: 6em; left: -3.5em; transform: rotate(90deg);}
	/* vertical middle */ &.gameOver.w4:after { top: 6em; transform: rotate(90deg);}
	/* vertical right */ &.gameOver.w5:after { top: 6em; left: 4.2em; transform: rotate(90deg);}
	/* diagonal right 	*/ &.gameOver.w6:after { top: 5.5em; transform: rotate(45deg);}
	/* diagonal left */ &.gameOver.w7:after { top: 5.5em; transform: rotate(-45deg);}
	/* tie */ &.gameOver.wnull:after { display: none;}
}

.progressBar {
	background-color: var(--bg-darker);
	width: 16em;
	height: 2em;
	margin: 0 auto;
	position: relative;
	border-radius: 0 0 1em 1em ;
	user-select: none;

	&::after {
		content: '';
		display: block;
		height: 1em;
		position: absolute;
		top: 0;
		left: 1.25em;
		border-radius: 0 0 0.5em 0.5em;
		background-color: var(--bg-dark);
		width: calc(var(--progress) - 4.25em);
		animation: progress 2s infinite;
		animation-timing-function: linear;
		animation-timing-function: linear;
	}
}

.controls {
	margin: 2em auto;
	text-align: center;
	user-select: none;

	button {
		margin: 0 0.5em;
	}
}

.debug {
	opacity: 0.2;

	&:hover {
		opacity: 1;
	}
}

@keyframes showLine {
	0% {
		width: 0px;
	}
	100% {
		width: 380px;
	}
}