

a, a:active, a:focus, a:visited {
	color: var(--fg-light);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: var(--fg-lighter);
}


button {
	background: var(--brand);
	color: var(--fg-lighter);
	border: none;
	padding: 0.75em 1.5em;
	cursor: pointer;
	font-size: 1.2em;
	border-radius: 0.3em;
	transition: all 0.1s;
	font-weight: bold;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);

	&.disabled {
		background: var(--bg-light);
		color: var(--bg-dark);
		cursor: not-allowed;
		text-shadow: none;
	}
	
	&:not(.disabled) {
		&:hover {
			background-color: var(--brand-light);
			transform: scale(1.05) rotate(2deg);
		}

		&:active {
			background: var(--brand-dark);
			transform: scale(0.95) translateY(4px);
		}
	}
}

code {
	display: inline-block;
	background-color: var(--bg-dark);
	padding: 2em 1em;
	border-radius: 0.3em;

}