

#root {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.page {
		width: 800px;
		margin: 1em auto;
	}
	
	header {
		background: var(--bg-dark);
		padding: 1em 1em 0;
		user-select: none;
	
		h1 {
			width: 800px;
			color: var(--brand);
			margin: 1em auto;
		}
	
		nav {
			width: 800px;
			margin: 1em auto 0;
			display: flex;
		
			a {
				display: inline-block;
				font-size: 1.2em;
				font-weight: bold;
				display: inline-block;
				margin: 0;
				padding: 1em 2em;
				transition: all 0.1s;
				color: var(--fg-dark);
				text-decoration: none;
				border-radius: 0.5em 0.5em 0 0;

				&:hover:not(.active) {
					background-color: var(--brand);
					color: var(--fg-lighter);
					transform: scale(1.1) rotate(5deg);
					text-decoration: none;
					border-radius: 0.5em;
				}

				&.active {
					background: var(--bg);
					color: var(--fg-light);
				}
			}
		}
	}
	
	footer {
		background: var(--bg-dark);
		padding: 1em;
		text-align: center;
		font-weight: 900;
		color: var(--bg);
		letter-spacing: 1em;
		user-select: none;
	}
	
	.spacer {
		flex-grow: 1;
	}
}

